<h3>Submit Assignment <%= @assignment.title %></h3>

<%= form_with model: [@assignment, @submission] do |f| %>
  <%= f.text_area :content %>
  <%= f.submit "Submit", class: "btn btn-primary" %>
  <%= link_to "Cancel", assignments_path, class: "btn btn-secondary" %>

<% end %>
